<center>
# ПРИЛОЖЕНИЕ 7
<center>
# РАБОТА С ПРЕДУПРЕЖДЕНИЕМ SETTINGWITHCOPYWARNING В БИБЛИОТЕКЕ PANDAS

In [1]:
# импортируем библиотеку pandas
import pandas as pd
# загружаем данные
data = pd.read_csv('Data/Auctions.csv')
# выводим первые 5 наблюдений
data.head()

    auctionid    bid   bidtime          bidder  bidderrate  openbid  price
0  8213034705   95.0  2.927373        jake7870           0     95.0  117.5
1  8213034705  115.0  2.943484   davidbresler2           1     95.0  117.5
2  8213034705  100.0  2.951285  gladimacowgirl          58     95.0  117.5
3  8213034705  117.5  2.998947         daysrus          10     95.0  117.5
4  8213060420    2.0  0.065266      donnie4814           5      1.0  120.0

## Что представляет из себя предупреждение SettingWithCopyWarning?

## Присваивание по цепочке (chained assignment)

In [2]:
# смотрим значения данных для пользователя parakeet2004
data[data.bidder == 'parakeet2004']

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004           5      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004           5      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004           5      1.0  120.0

In [3]:
# обновляем значения переменной bidderrate
# для пользователя parakeet2004
data[data.bidder == 'parakeet2004']['bidderrate'] = 100

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
# вновь смотрим значения данных для пользователя parakeet2004
data[data.bidder == 'parakeet2004']

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004           5      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004           5      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004           5      1.0  120.0

In [5]:
# задаем новое значение
data.loc[data.bidder == 'parakeet2004', 'bidderrate'] = 100
# смотрим результат
data[data.bidder == 'parakeet2004']['bidderrate']

6    100
7    100
8    100
Name: bidderrate, dtype: int64

## Скрытая цепочка

In [6]:
# создаем новый датафрейм, в котором ставка
# совпадает с конечной ценой
winners = data.loc[data.bid == data.price]
winners.head()

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price
3,8213034705,117.5,2.998947,daysrus,10,95.00,117.5
25,8213060420,120.0,2.999722,djnoeproductions,17,1.00,120.0
44,8213067838,132.5,2.996632,*champaignbubbles*,202,29.99,132.5
45,8213067838,132.5,2.997789,*champaignbubbles*,202,29.99,132.5
66,8213073509,114.5,2.999236,rr6kids,4,1.00,114.5

In [7]:
mean_win_time = winners.bidtime.mean()
mode_open_bid = winners.openbid.mode()

In [8]:
# смотрим значение переменной bidder для
# наблюдения с меткой индекса 304
winners.loc[304, 'bidder']

nan

In [9]:
# присваиваем значение переменной bidder
# в наблюдении с меткой индекса 304
winners.loc[304, 'bidder'] = 'therealname'

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
# печатаем значение переменной bidder
# в наблюдении с меткой индекса 304
print(winners.loc[304, 'bidder'])

therealname

In [11]:
# создаем копию датафрейма, в котором ставка
# совпадает с конечной ценой
winners = data.loc[data.bid == data.price].copy()
# присваиваем значение переменной bidder
# в наблюдении с меткой индекса 304
winners.loc[304, 'bidder'] = 'therealname'
# печатаем значение переменной bidder
# в наблюдении с меткой индекса 304
# в новом датафрейме
print(winners.loc[304, 'bidder'])
# печатаем значение переменной bidder
# в наблюдении с меткой индекса 304
# в исходном датафрейме
print(data.loc[304, 'bidder'])

therealname
nan

## Советы и рекомендации по работе с предупреждением SettingWithCopyWarning

In [12]:
# отключаем предупреждение SettingWithCopyWarning
pd.set_option('mode.chained_assignment', None)
# задаем новое значение
data[data.bidder == 'parakeet2004']['bidderrate'] = 100

In [13]:
# будем генерировать исключение вместо предупреждения
pd.set_option('mode.chained_assignment', 'raise')
# задаем новое значение
data[data.bidder == 'parakeet2004']['bidderrate'] = 100

SettingWithCopyError:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
# сбрасываем опцию, заданную в предыдущем
# блоке программного кода
pd.reset_option('mode.chained_assignment')
# отключаем предупреждение, воспользовавшись
# диспетчером контекста
with pd.option_context('mode.chained_assignment', None):
    data[data.bidder == 'parakeet2004']['bidderrate'] = 100

## Однотипные и многотипные объекты

In [15]:
# импортируем библиотеку numpy
import numpy as np
# создаем однотипный объект DataFrame
single_dtype_df = pd.DataFrame(np.random.rand(5,2), columns=list('AB'))
# печатаем информацию о типах столбцов
print(single_dtype_df.dtypes)
# выводим данные
single_dtype_df

A    float64
B    float64
dtype: object

          A         B
0  0.539229  0.046175
1  0.312673  0.179461
2  0.662207  0.310053
3  0.612781  0.622361
4  0.190706  0.895529

In [16]:
# создаем многотипный объект DataFrame
multiple_dtype_df = pd.DataFrame({'A': np.random.rand(5),'B': list('abcde')})
# печатаем информацию о типах столбцов
print(multiple_dtype_df.dtypes)
# выводим данные
multiple_dtype_df

A    float64
B     object
dtype: object

          A  B
0  0.110726  a
1  0.048172  b
2  0.930442  c
3  0.467743  d
4  0.403808  e

## Ложные срабатывания

In [17]:
# добавляем новый столбец bidtime_hours
# на основе значений столбца bidtime
data['bidtime_hours'] = data.bidtime.map(lambda x: x * 24)
data.head(2)

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,bidtime_hours
0,8213034705,95.0,2.927373,jake7870,0,95.0,117.5,70.256952
1,8213034705,115.0,2.943484,davidbresler2,1,95.0,117.5,70.643616

In [18]:
# добавляем новый столбец bidtime_hours
# на основе значений столбца bidtime
data.loc[:, 'bidtime_hours'] = data.bidtime.apply(lambda x: x * 24)
data.head(2)

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,bidtime_hours
0,8213034705,95.0,2.927373,jake7870,0,95.0,117.5,70.256952
1,8213034705,115.0,2.943484,davidbresler2,1,95.0,117.5,70.643616

In [19]:
# случайным образом отбираем 2 наблюдения
# из исходного датафрейма
sample = data.sample(2, random_state=200)
# задаем в этих двух наблюдениях значение
# переменной price равным 120
sample.loc[:, 'price'] = 120
# выводим наблюдения
sample.head()

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,bidtime_hours
467,8215408023,30.0,1.739572,bigreggie101,0,0.99,120,41.749728
233,8213387659,40.0,2.016701,mniffin01,0,9.99,120,48.400824

## Подробнее о присваивании по цепочке

In [20]:
# вернемся к предыдущему примеру
data[data.bidder == 'parakeet2004']['bidderrate'] = 100

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
# создаем новый объект DataFrame
df1 = pd.DataFrame(np.arange(6).reshape((3,2)), columns=list('AB'))
df1

   A  B
0  0  1
1  2  3
2  4  5

In [22]:
# присваиваем подмножества датафрейма df1
# датафрейму df2
df2 = df1.loc[:1]
df2

   A  B
0  0  1
1  2  3

## Ложные пропуски

In [23]:
# извлекаем значения переменных bidderrate и bid, когда
# переменная bidder принимает значение parakeet2004
data.loc[data.bidder == 'parakeet2004', ('bidderrate', 'bid')]

   bidderrate    bid
6         100   3.00
7         100  10.00
8         100  24.99

In [24]:
# пробуем поменять значения переменной bid
data.loc[data.bidder == 'parakeet2004', ('bidderrate', 'bid')]['bid'] = 5.0
data.loc[data.bidder == 'parakeet2004', ('bidderrate', 'bid')]

   bidderrate    bid
6         100   3.00
7         100  10.00
8         100  24.99

In [25]:
# решением будет следующий программный код
data.loc[data.bidder == 'parakeet2004', 'bid'] = 5.0
data.loc[data.bidder == 'parakeet2004', ('bidderrate', 'bid')]

   bidderrate  bid
6         100  5.0
7         100  5.0
8         100  5.0

## Скрытая цепочка

In [26]:
# снова обратимся к примеру со скрытой цепочкой
winners = data.loc[data.bid == data.price]
winners.loc[304, 'bidder'] = 'therealname'

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [27]:
# объединяем операцию создания экземпляра со строкой 
# программного кода, породившей предупреждение
data.loc[data.bid == data.price].loc[304, 'bidder'] = 'therealname'

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [28]:
# работаем с датафреймом как копией
winners = data.loc[data.bid == data.price].copy()
winners.loc[304, 'bidder'] = 'therealname'

print(data.loc[304, 'bidder']) # исходный датафрейм
print(winners.loc[304, 'bidder']) # копия

nan
therealname

In [29]:
# находим покупателей, ставка которых выиграла
winner_mask = data.bid == data.price
# выведем несколько наблюдений
data.loc[winner_mask].head()
# выполняем анализ
mean_win_time = data.loc[winner_mask, 'bidtime'].mean()
... # 20 строк программного кода
mode_open_bid = data.loc[winner_mask, 'openbid'].mode()
# изменяем имя покупателя
data.loc[304, 'bidder'] = 'therealname'

In [30]:
# создаем новую переменную, которая отбирает
# подмножество датафрейма winners
high_winner_mask = winner_mask & (data.price > 150)
data.loc[high_winner_mask].head()

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,bidtime_hours
225,8213387444,152.0,2.919757,uconnbabydoll1975,15,0.99,152.0,70.074168
328,8213935134,207.5,2.983542,toby2492,0,0.10,207.5,71.605008
416,8214430396,199.0,2.990463,volpendesta,4,9.99,199.0,71.771112
531,8215582227,152.5,2.999664,ultimatum_man,2,60.00,152.5,71.991936

#### Больше материалов о машинном обучении и информацию о курсах по машинному обучению можно найти в нашей группе в Facebook https://www.facebook.com/groups/gewissta